<div class="sidenav">

  <h2>Account</h2>
    <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Payment</a></li>
        <li><a href="#">Password</a></li>
    </ul>
  <h2>Loans</h2>
    <ul>
      <li><a href="/currentloans">Ongoing Loans</a></li>
      <li><a href="/futureloans">Future Loans</a></li>
      <li><a href="/previousloans">Previous Loans</a></li>
      <li><a href="/createloan">Test: Create Loan</a></li>
    </ul>

  <h2>Listed Items</h2>
    <ul>
  <li><a href="/">My Listings</a></li>
  <li><a href="/createitem">Add Listing</a></li>
    </ul>


</div>

<!-- Page content -->
<div class="main">
  ...
</div>